<form action="{{ action }}" method="post">
    <div class="form-group">
        <label for="" class="control-label">Nome</label>
        <input type="text" class="form-control" placeholder="Nome" name="name" value="{{ category.name }}">
    </div>
    <button type="submit" class="bt bt-primary hvr-underline-from-left">
        <i class="fas fa-save"></i> Salvar</button></div>
</form>