{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="panel">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h1 class="panel-title">Editar Empresa</h1>
                </div>
            </div>
            {% set action = route('empresas.update', {'id': empresa.id})  %}
            {% include 'empresas/_form.html.twig' %}
        </div>
    </div>
{% endblock %}